.account-info {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(206, 206, 206, 0.541);
  display: flex;
  

}
.range[typeCard="with-range"] {

  background-color: #298854;
  width: 8px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.info{
 width: calc(100% - 8px);
 height: 100%;
}
.range[ typeCard = "normal"]{
  display: none;
}

.range[colorRange="black"] {

  background-color: rgba(24, 24, 24, 0.726);

}
.range[colorRange="grey"] {

  background-color: rgba(65, 65, 65, 0.541);

}
