.container{
  width: 50%;
  height: 80%;
  border: 1px solid rgba(182, 182, 182, 0.562);

  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.171);

}
.container-buttons-view-history button{
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.container-buttons-view-history button:hover{
  transition:  0.5s ;
  background: rgba(0, 128, 0, 0.267);
}
.container-buttons-view-history{
  width: 100%;
  height: 50px;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;

}
.range-view-history{
  height: 2px;
  width: 28%;
  background-color: yellowgreen;
  position: absolute;
  top: 100%;
  left: 3%;
  transition: .2s;
}
.content-view-history{
  width: 100%;
  height: 90%;
  overflow: scroll;

}
.views{
  margin-top: 15px;
  height: 100%;
  animation: moving .5s ease;


}
.cards{
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  gap: 1rem;
}


@keyframes moving {

  from{transform: translateX(50px); opacity: 0;}
  to{transform: translateX(0px); opacity: 1;}

}
#btn1{
  color: yellowgreen;
}
#btn1, #btn2{
  border-right: 1px solid rgba(0, 0, 0, 0.205);
}

#input-btn1:checked ~ #view2, #input-btn1:checked ~ #view3{
  display: none;
}
#input-btn1:checked ~ .range-view-history{
  left: 100px;
}
#input-btn2:checked ~ #view1, #input-btn2:checked ~ #view3{
  display: none;
}
#input-btn3:checked ~ #view1, #input-btn3:checked ~ #view2{
  display: none;
}
input{
  display: none;
}


.card-deposit{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: fit-content;
  padding: 3%;
}
