.host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - 70px);
  width: 100%;
  align-items: center;
  position: relative;

}

.box {
  width: 38%;
  height: 90%;
  overflow: hidden;
}

.slides {
  width: 200%;
  height: 100%;
  display: flex;
}

.slide {
  width: 50%;
  height: 100%;
  transition: all 0.4s;


}

#slide1 {}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#slide2 {
}

input{
  display: none;
}
#slide2-control:checked~#slide1 {
  margin-left: -50%;
}

#slide1-control:checked~#slide1 {
  margin-left: 0%;
}


img {
  width: 1.8rem;
  height: 1.8rem;
}



.menu {
  width: 100%;
  height: 40%;
}

.ad {
  width: 100%;
  height: 30%;
}

.footer {
  width: 100%;
  height: 5%;
  font-size: 11px;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width : 1300px) {
  .box {
    width: 45%;
  }
}

@media only screen and (max-width : 1000px) {
  .box {
    width: 55%;
  }
}

@media only screen and (max-width : 900px) {
  .box {
    width: 65%;

  }
}


@media only screen and (max-width : 800px) {
  .box {
    width: 75%;

  }
}

@media only screen and (max-width : 700px) {
  .box {
    width: 80%;

  }
}

@media only screen and (max-width : 500px) {
  .box {
    width: 84%;

  }
}

@media only screen and (max-width : 420px) {
  .box {
    width: 96%;

  }


}
