<app-header></app-header>
<div class="host">
  <div class="box">

    <div class="slides">
      <input type="radio" name="slide-control" id="slide1-control" #slide1Control  checked>
      <input type="radio" name="slide-control" id="slide2-control" #slide2Control>


      <div class="slide home" id="slide1">

        <div class="info-account">
          <app-account-info></app-account-info>
        </div>

        <div class="menu">
          <app-menu-func (slide2$)="slide2()"></app-menu-func>
        </div>

        <div class="ad">
          <app-card></app-card>
        </div>
      </div>

      <div class="slide" id="slide2">


        <router-outlet></router-outlet>


      </div>
    </div>

  </div>

  <footer class="footer">
    <span>
      Turing Bank © 2023-2023.
      Todos direitos reservados - 2023</span>
  </footer>


</div>
