
.box-favs{
  width: 100%;
  height: 90%;
  overflow: scroll;
  position: relative;
}

.card-deposit{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: fit-content;
  padding: 3%;
}
.cards{
  display: flex;
  flex-direction: column-reverse;
  height: fit-content;
  gap: 1rem;
}
